<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Confirmation</title>
  </head>
  <body>
    <h1>Customer Confirmation</h1>

    <br /><br />

    <i>Thank you for registering</i>

    <br /><br />

    <p>First name: <span th:text="${customer.firstName}"></span></p>

    <p>Last name: <span th:text="${customer.lastName}"></span></p>

    <p>Free Passes: <span th:text="${customer.freePasses}"></span></p>

    <p>Postal Code: <span th:text="${customer.postalCode}"></span></p>

    <p>Course Code: <span th:text="${customer.courseCode}"></span></p>
  </body>
</html>
